.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;
}

.modal__modal_opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: relative;
  padding: 34px 36px 36px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  padding: 0 0 54px;
  max-width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0;
}

.modal__input {
  width: 358px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.modal__input:first-of-type {
  margin: 0 0 30px;
}

.modal__input:last-of-type {
  margin: 0 0 48px;
}

.modal__save-button {
  cursor: pointer;
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__save-button:hover {
  opacity: 80%;
}

/* this is for mobile */
@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
    margin: 0 19px;
  }

  .modal__name {
    max-width: 238px;
    margin: 0 0 30px;
  }

  .modal__description {
    max-width: 238px;
    margin: 0 0 45px;
  }

  .modal__save-button {
    max-width: 238px;
    font-size: 14px;
  }

  .modal__heading {
    max-width: 238px;
    font-size: 18px;
    padding: 0 0 75px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 90%;
  }

  .modal__form {
    max-width: 238px;
  }
}
