.cards {
  margin-top: 51px;
  margin-bottom: 67px;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .cards {
    margin-top: 36px;
    margin-bottom: 48px;
  }
}
